<div class="row-fluid">
	<div class="span2 sidebar">
		<div class="well">
			<ul class="nav nav-list">
				<li class="nav-header">安装</li>
				<li class="file-child"><a href="javascript:;" data-en="README.md">安装文档</a></li>
				<!--{loop $file_list $value}-->
					<li class="nav-header">$value['dir']['ch']</li>
					<!--{loop $value['child'] $svalue}-->
						<li class="file-child"><a href="javascript:;" data-en="$svalue['en']">$svalue['ch']</a></li>
					<!--{/loop}-->
				<!--{/loop}-->
			</ul>
		</div>
	</div>
	<div class="span10 content">