body {
  position: relative;
  padding-top: 50px;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
.sidebar .well {
  padding: 8px 0;
}
.sidebar i {
  margin-top: 5px;
}
.sidebar i:hover {
  cursor: pointer;
}
.sidebar i:hover {
  cursor: pointer;
}
.footer p {
  text-align: center;
}
