body {
  position: relative;
  padding-top: 50px;
}
.sidebar .well {
  padding: 8px 0;
}
.sidebar li {
  position: relative;
}
.sidebar li i {
  position: absolute;
  right: 5px;
  top: 5px;
}
.sidebar li i:hover {
  cursor: pointer;
}
.content .active_tr {
  background: #eeeeee;
}
.footer p {
  text-align: center;
}
